/* Styles */
* {
  font-family: Helvetica, Arial, sans-serif;
}

@keyframes fadeIn
{
  0%{opacity:0}
  100%{opacity:1}
}

@keyframes leftFlyIn
{
  0%{transform: translateX(0%);}
  100%{transform: translateX(0%);}
}

@keyFrames rightFlyIn
{
  0%{transform: translateX(150%);}
  100%{transform: translateX(0%);}
}

a:link, a:visited
{
  color: black;
  text-decoration: none;
}

a:hover, a:active
{
  color: lightskyblue;
  text-decoration: none;
}

.block
{
  background: white;
  border-radius: 25px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  color: black;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin:1rem 0.5rem;
  padding: 1rem;
  position: relative;
  opacity: 0;
}

.block h2
{
  margin: 0.5rem;
}

.block h3
{
  margin: 0rem 1rem 0.5rem 1rem;
}

.block h4
{
  margin: 0rem 1rem 0.5rem 1rem;
}

.block p
{
  margin: auto 1rem;
  grid-column: 1/6;
}

.block picture
{
  margin: 0.25rem 1rem;
  grid-column: 3/4;
}

.block ul
{
  margin: 0rem 0rem 1rem 0rem;
  grid-column: 1/6;
}

#goBack
{
  color: blue;
}

.header
{
  text-align: center;
}

#headerName
{
    grid-column: 1/6;
}

#headerText
{
  grid-column: 1/6;
}

#headerLeftImg
{
  grid-column: 2/3;
}

#headerRightImg
{
  grid-column: 4/5;
}

.fadeIn
{
  animation: fadeIn 0.75s ease-in forwards;
}

.leftFlyIn
{
  animation: leftFlyIn 0.75s ease-in forwards;
}

.rightFlyIn
{
  animation: rightFlyIn 0.75s ease-in forwards;
}

.metaInfo
{
  grid-column: 1/6;
  text-align: center;
}

.title
{
  opacity: 0;
}

.section
{
    margin: 0rem auto 3rem auto;
}

.section h1
{
  margin: 1rem 1rem 0.25rem 0.5rem;
}

.section h4
{
  margin: 0rem 1rem 0.25rem 0.5rem;
}

footer
{
  text-align: center;
}

li
{
    margin: 0.5rem 0rem;
}

/*Media Queries*/
@media (min-width: 769px)
{
  .block p
  {
    grid-column: 1/5;
  }

  .block picture
  {
    grid-column: 5/6;
  }

  .col1
  {
    grid-column: 1/4;
  }

  .col2
  {
    grid-column: 4/7;
  }

  .col3
  {
    grid-column: 1/4;
  }
  #headerName
  {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  #headerText
  {
    grid-column: 2/5;
    grid-row: 2/3;
  }

  #headerLeftImg
  {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  #headerRightImg
  {
    grid-column: 5/6;
    grid-row: 1/3;
  }

  .section
  {
    display: grid;
    grid-template-columns: repeat(6,1fr);
  }

  .section h1
  {
    grid-column: 1/7;
  }

  .section h4
  {
    grid-column: 1/7;
  }

  .projects picture
  {
    grid-row: 2/5;
  }
}

@media (min-width: 1200px)
{
  .education .col1
  {
    grid-column: 1/3;
  }

  .education .col2
  {
    grid-column: 3/5;
  }

  .education .col3
  {
    grid-column: 5/7;
  }
}
